allow qmuxd self:process execmem;

# Access to /sys/devices/virtual/smdpkt/smdcntl*/open_timeout
allow qmuxd sysfs_smdcntl_open_timeout:file rw_file_perms;
